*{
    padding: 0%;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: center;
    width: 70vh;
    height: 30px;
}

h1{
    font-family: Arial sans-serif;
    font-size: 4rem;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 80vh;
    height: auto;
}
.cart{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}
#cart-icon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    display: grid;
    grid-column: 3;
    grid-row: auto;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
