*{
    padding: 0%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;

}

h1{
    font-family: Arial sans-serif;
    font-size: 4rem;
}
.cart{
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 50%;
}
main{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 3;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
