.row{
    display: flex;
    flex-direction: row;

}

h1{
    font-family: Arial sans-serif;
    font-size: 4rem;
}
.cart{
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 50%;
}